.m-context-menu {
  padding: 4px 0;
  background-color: var(--wcag-white-color);
  min-width: 150px;
  border: 1px solid var(--wcag-border-color);
  border-radius: 4px;
}

.m-context-menu-item {
  display: flex;
  align-items: center;
  height: var(--context-menu-item-height);
  cursor: pointer;
  padding: 0 32px;
}

.m-context-menu-item:hover {
  background-color: var(--context-menu-hover-background-color);
  color: var(--context-menu-hover-color);
  cursor: pointer;
}

.m-context-menu-item__text {
  text-transform: capitalize;
}