:root {
  --internal-image-url: url(../../assets/img/Sprites.64af8f61.svg)
}

.m-table {
  max-width: 100%;
  position: relative;
}

.m-table table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;

  overflow-x: auto;
  white-space: nowrap;
}

.m-table__header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--table-header-background);
  z-index: var(--table-header-zIndex);
}

.m-table-header__icon {
  /* background: var(--internal-image-url) no-repeat -1129px -365px;
    width: 24px;
    height: 24px; */
}

.m-table th {
  text-transform: uppercase;
}

.m-table th,
.m-table td {
  height: var(--table-row-height);
  padding: 8px;
  border-left: 1px solid var(--wcag-border-color);
  padding: 0 16px;
}

.m-table th:first-child,
.m-table td:first-child {}

.m-table th:not(:first-child),
.m-table td:not(:first-child) {}

.m-table tr {
  border: 1px solid var(--wcag-border-color);
  text-align: left;
}

.m-table tbody tr:hover td {
  background-color: var(--table-hover-background);
}

.m-table .row-checkbox {
  width: 16px;
  height: 16px;
}

/* table sticky */
.m-table-sticky {
  border-left: 1px solid var(--wcag-border-color);
  border-right: 1px solid var(--wcag-border-color);
  height: 100%;
  overflow: auto;
}

/* table sticky first column */
.m-table-sticky.--sticky-first-col th:first-child,
.m-table-sticky.--sticky-first-col td:first-child {
  position: sticky;
  top: 0;
  left: 0;
}

.m-table-sticky.--sticky-first-col th:first-child {
  background-color: var(--table-header-background);
}

.m-table-sticky.--sticky-first-col td:first-child {
  background-color: var(--table-body-background);
}

/* table sticky last column */

.m-table-sticky.--sticky-last-col th:last-child,
.m-table-sticky.--sticky-last-col td:last-child {
  position: sticky;
  top: 0;
  right: 0;
}

.m-table-sticky.--sticky-last-col th:last-child {
  background-color: var(--table-header-background);
}

.m-table-sticky.--sticky-last-col td:last-child {
  background-color: var(--table-body-background);
}


/* paging */
.m-table-paging {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--wcag-border-color);
}

.m-table-paging__total {}

.m-table-pagin__rightPanel {
  display: flex;
  align-items: center;
}

.m-table-pagin__rightPanel>div~div {
  margin-left: 16px;
}

.m-table-paging__perPage {}

.m-table-paging__currentRecord {}

.m-table-paging__previousPage {
  background: var(--internal-image-url) no-repeat -36px -361px;
  width: 8px;
  height: 14px;
}

.m-table-paging__nextPage {
  background: var(--internal-image-url) no-repeat -84px -361px;
  width: 8px;
  height: 14px;
}

/* table loading */
#table-loading {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}